
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    
    <div>
      <label for="assignee">Assignee:</label>
      <input id="assignee" type="text" formControlName="assignee">
    </div>
  
    <div>
      <label for="status">Status:</label>
      <input id="status" type="text" formControlName="status">
    </div>

    <div>
        <label for="resolution">Title:</label>
        <input id="resolution" type="text" formControlName="resolution">
      </div>
    
    <button type="submit">Submit</button>
  </form>