<!-- 
<div *ngFor="let ticket of tickets">
    <p (click)="getTicket(ticket)">{{ticket.id}}: {{ticket.reporter}}</p>
</div>
<div *ngIf="ticket.reporter != ''">
    <p>ID: {{ticket.id}}</p>
    <p>Reporter: {{ticket.reporter}}</p>
    <p>Assignee: {{ticket.assignee}}</p>
    <p>Status:{{ticket.status}}</p>
    <p>Title: {{ticket.title}}</p>
    <p>Resolution: {{ticket.resolution}}</p>
    <button (click)="AddFavorite(ticket.reporter, ticket.id)">Make Favorite</button>
    <button (click)="routeToUpdateTicket(ticket.id)">Update Ticket</button>
</div>

<button routerLink="/view-favorites">Favorites</button>
<button routerLink="/add-ticket">Add Ticket</button> 
  -->
<h1>Help Desk</h1>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Reporter</th>
          <th>Assignee</th>
          <th>Status</th>
          <th>Title</th>
          <th>Resolution</th>
          <th>Action</th>
        </tr>
      </thead>
      <!-- Inside the table -->
<tbody>
    <ng-container *ngFor="let ticket of tickets">
      <tr>
        <td (click)="getTicket(ticket)">{{ticket.id}}
        </td>
        <td (click)="getTicket(ticket)"> {{ticket.reporter }}
        </td>
       
        <!-- Rest of the table columns -->
      </tr>
      <!-- <tr *ngIf="ticket.reporter != ''">
        <td colspan="7">
          <p>ID: {{ ticket.id }}</p>
          <p>Reporter: {{ ticket.reporter }}</p>
          <p>Assignee: {{ ticket.assignee }}</p>
          <p>Status: {{ ticket.status }}</p>
          <p>Title: {{ ticket.title }}</p>
          <p>Resolution: {{ ticket.resolution }}</p>
        </td>
      </tr> -->
    </ng-container>
  </tbody>
  
    </table>
  </div>
  <div class="center">
    <button routerLink="/view-favorites">Favorites</button>
    <button routerLink="/add-ticket">Add Ticket</button> 
  </div>

  
  